.globalHeader {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background: #1a1a1a;
  gap: 4rem;
  height: var(--headerHeight);
  border-bottom: 1px solid #ffffff;
  z-index: 4;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  font-family: var(--font-space-grotesk), sans-serif;
}
