.echoImageWrapper {
  position: relative;
  display: inline-block;
}

.echoText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  text-shadow: 0 0 6px #000, 0 0 2px #000;
  font-family: var(--font-micro-5);
  font-size: 1.5rem;
  padding: 4px 8px;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;
  word-break: break-word;
}

.textTop {
  top: 10px;
}
.textCenter {
  top: 50%;
  transform: translate(-50%, -50%);
}
.textBottom {
  bottom: 10px;
}

.echoesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 15px;
}

.echoImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.echoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.itemHeader {
  display: flex;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.itemFooter {
  width: 200px;
  min-width: 0;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  background: var(--secondaryColor);
  color: var(--fourthColor);
  border-radius: 0 0 15px 15px;
  width: 100%;
  font-size: 0.8rem;
  overflow: hidden;
  border: solid 1px rgb(49, 49, 49);
  border-top: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.itemFooter p {
  direction: rtl;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  margin-right: 5px;
}

.likeCount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.heart {
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.sortSelect {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px var(--mainColor);
  background: var(--secondaryColor);
  color: var(--fourthColor);
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .echoImage {
    width: 150px;
    height: 150px;
  }
  .itemFooter {
    width: 150px;
    min-width: 0;
    max-width: 150px;
  }
}
