*,*:before,*:after {
  box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
}




body {
  background: linear-gradient(145deg, rgb(80, 65, 77), rgb(0, 0, 0)), url('/noise.svg');
  background-blend-mode: multiply;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



main::-webkit-scrollbar {
  display: none;
}


