.echoImageWrapper {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.echoText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  text-shadow: 0 0 6px #000, 0 0 2px #000;
  font-family: var(--font-micro-5);
  font-size: 1.5rem;
  padding: 4px 8px;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;
  word-break: break-word;
}

.textTop {
  top: 10px;
}
.textCenter {
  top: 50%;
  transform: translate(-50%, -50%);
}
.textBottom {
  bottom: 10px;
}

.echoesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 15px;
}

.echoImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.echoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: var(--secondaryColor);
  color: var(--fourthColor);
  margin-bottom: 5px;
  padding: 0 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(49, 49, 49);
  border-bottom: none;
  font-size: 0.8rem;
}

.itemHeaderLeft {
  display: flex;
  align-items: center;
  gap: 3px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.itemActions {
  width: 100%;
  display: flex;
  gap: 5px;
}

.itemActions button:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 0 15px;
  height: 20px;
  background: var(--secondaryColor);
  color: var(--fourthColor);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(49, 49, 49);
  border-top: none;
  font-size: 0.8rem;
}

.itemActions button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 15px 0;
  height: 20px;
  background: var(--secondaryColor);
  color: var(--fourthColor);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(49, 49, 49);
  border-top: none;
  font-size: 0.8rem;
}

.heartIcon {
  width: 18px;
  height: 18px;
  filter: brightness(0.7);
}

.privateBadge {
  width: 20px;
  height: 20px;
  filter: brightness(0.8);
}

.publicBadge {
  width: 20px;
  height: 20px;
  filter: brightness(0.8);
}
